<div class="box">
  <h1><%= icon("globe", "Intro") %></h1>
  <hr>
  <div><%= icon("briefcase", "Cofounder at CoderSchool") %></div>
  <div><%= icon("book", "Studied at Yale University") %></div>
</div>

<div class="box">
  <h1><%= icon("camera-retro", "Photos") %></h1>
</div>

<div class="box">
  <h1><%= icon("users", "Friends") %> <small class="tag"><%= user.friends_count %></small></h1>
</div>