<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |another_user| %>
      <tr>
        <td><%= image_tag another_user.image_url_or_default %></td>
        <td>
          <div><%= another_user.name %></div>
          <div><%= another_user.email %></div>
        </td>
        <td>
          <% if current_user.is_friend?(another_user) %>
            <%= link_to icon("user-times", "Remove friend"), remove_friend_path(user_id: another_user.id), class: "button is-danger add-remove", method: :delete %>
          <% else %>
            <%= form_for current_user.friendships.build(friend: another_user) do |f| %>
              <%= f.hidden_field :friend_id %>
              <button class="button is-primary add-remove"><%= icon("user-plus", "Add Friend") %></button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
