<% unless current_user %>
  <%= link_to "Create An Account", new_user_path, class: "button is-primary" %>
  <%= link_to icon("facebook", "Log in with Facebook"), "/auth/facebook", class: "button is-info" %>
<% else %>
  <div class="columns">
    <div class="column is-one-quarter">
      <aside class="menu">
        <ul class="menu-list">
          <li>
            <%= link_to wall_path(current_user), class: "wall-image-link" do %>
              <%= image_tag current_user.image_url_or_default, class: "icon" %>
              <%= current_user.name %>
            <% end %>
          </li>
        </ul>
        <p class="menu-label">Apps</p>
        <ul class="menu-list">
          <li><%= link_to icon("newspaper-o", "News Feed"), root_path, class: "is-active" %></li>
          <li><%= link_to icon("comments-o", "Messenger"), messages_path %></li>
        </ul>
      </aside>
    </div>
    <div class="column is-two-thirds">
      <%= render "posts/form", post: Post.new(wall_user: current_user) %>
      <%= render @posts %>
    </div>
    <div class="column"></div>
  </div>
<% end %>