<% unless current_user %>
  <%= link_to "Create An Account", new_user_path, class: "button is-primary" %>
  <%= link_to icon("facebook", "Log in with Facebook"), "/auth/facebook", class: "button is-info" %>
<% else %>
  <div class="columns">
    <div class="column is-one-quarter">
      <aside class="menu">
        <ul class="menu-list">
          <li><%= link_to icon("newspaper-o", "News Feed"), root_path %></li>
          <li><%= link_to icon("comments-o", "Messenger"), messages_path %></li>
        </ul>
      </aside>
    </div>
    <div class="column is-two-thirds">
      <%= render "posts/form", post: Post.new(wall_user: current_user) %>
      <%= render @posts %>
    </div>
    <div class="column"></div>
  </div>
<% end %>