<section class="hero is-primary" style="margin-bottom: 1em">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @user.name %>
      </h1>
      <h2 class="subtitle">
        <%= @user.email %>
      </h2>
    </div>
  </div>
</section>
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <h1><%= icon("globe", "Intro") %></h1>
      </div>
    </div>
  </div>
  <div class="column">
    <%= render "posts/form", post: Post.new(wall_user: @user) %>
    <%= render @user.wall_posts %>
  </div>
</div>
