<%= form_for post do |f| %>
  <%= f.hidden_field :wall_user_id %>
  <div class="card post">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <p class="image is-32x32">
            <%= image_tag current_user.image_url_or_default %>
          </p>
        </div>
        <div class="media-content">
          <div class="field">
            <%= f.text_area :body, class: "textarea js-post-body", placeholder: post_placeholder_message(post), rows: "2" %>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="file is-white">
                  <label class="file-label">
                    <%= f.file_field :image, class: "file-input" %>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fa fa-camera-retro"></i>
                      </span>
                      <span class="file-label">Photo…</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <label class="checkbox">
                  <input type="checkbox" class="js-enter-submit"> Press Enter to submit
                </label>
              </div>
              <button class="level-item button is-primary"><%= icon("send", "Post") %></button>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
<% end %>