<div class="js-post post card" id="<%= dom_id post %>" data-post-id="<%= post.id %>">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <%= image_tag post.poster.image_url_or_default %>
        </p>
      </div>
      <div class="media-content">
        <p class="is-title">
          <strong><%= link_to post.poster.name, wall_path(post.poster) %></strong>
          <% if post.different_wall? %>
            to
            <strong><%= link_to post.wall_user.name, wall_path(post.wall_user) %></strong>
          <% end %>
        </p>
        <small><%= time_ago_in_words post.updated_at %> ago</small>
      </div>
    </div>
    <div class="content">
      <%= simple_format post.body %>
    </div>
  </div>
  <% if post.image? %>
    <div class="card-image">
      <div class="image">
        <%= image_tag post.image.url %>
      </div>
    </div>
  <% end %>
  <div class="card-footer">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <%= link_to(icon("thumbs-up", "Like"), likes_path(post_id: post.id),
          class: "js-like-button button is-white #{'is-liked' if current_user && current_user.likes?(post)}",
          method: "post",
          remote: true
          ) %>
        </div>
        <div class="level-item">
          <%= link_to icon("comments", "Comment"), "#", class: "js-post-comment button is-white" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "posts/likes_sentence", post: post %>
  <div class="comments">
    <%= render post.comments %>
  </div>
  <% if current_user %>
    <%= render "comments/form", comment: post.comments.build %>
  <% end %>
</div>