<div class="post card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <%= image_tag current_user.image_url_or_default %>
        </p>
      </div>
      <div class="media-content">
        <p class="is-title">
          <strong><%= link_to post.poster.name, wall_path(post.poster) %></strong>
          <% if post.different_wall? %>
            to 
            <strong><%= link_to post.wall_user.name, wall_path(post.wall_user) %></strong>
          <% end %>
        </p>
        <small><%= time_ago_in_words post.updated_at %> ago</small>
      </div>
    </div>
    <div class="content">
      <%= simple_format post.body %>
    </div>
  </div>
  <div class="card-footer">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <%= link_to icon("thumbs-up", "Like"), likes_path(post_id: post.id), class: "button is-white #{'is-liked' if current_user.likes?(post)}", method: "post" %>
        </div>
        <div class="level-item">
          <%= link_to icon("comments", "Comment"), "#", class: "js-post-comment button is-white" %>
        </div>
      </div>
    </div>
  </div>
  <% if post.likes.present? %>
    <div class="card-footer likes-sentence">
      <p>
        <%= fa_stacked_icon "thumbs-up inverse", base: "circle" %>
        <%= post.likes.map(&:user_name).to_sentence %>
      </p>
    </div>
  <% end %>
  <%= render post.comments %>
  <%= render "comments/form", comment: post.comments.build %>
</div>