<!DOCTYPE html>
<html>
  <head>
    <title>Humanbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag "human-hydrogen.png", alt: "Humanbook" %>
        </a>
      </div>
      <div class="navbar-menu">
        <% if current_user %>
          <%= link_to users_path, class: "navbar-item" do %>
            <%= fa_icon("users") %>&nbsp;Users
          <% end %>
        <% else %>
          <%= link_to "Sign Up", new_user_path, class: "navbar-item" %>
          <%= link_to "Log In", login_path, class: "navbar-item" %>
        <% end %>
      </div>
      <div class="navbar-end">
        <% if current_user %>
          <%= link_to fa_icon("sign-out") + "&nbsp;Log out".html_safe, logout_path, class: "navbar-item" %>
        <% end %>
      </div>
    </nav>
    <%= flash_messages %>

    <div class="container is-fluid">
      <%= yield %>
    </div>
  </body>
</html>
